* {
  font-family: "Roboto", "Inter", sans-serif;
}

body {
  width: 100%;
  background-color: white;
  padding: 0;
  margin: 0;
}

.gray-line {
  background-color: #c2c2c2;
  margin: 0;
  padding: 5px;
}

.white-line {
  margin: 0;
  padding: 5px;
}