USE [master]
GO
/****** Object:  Database [JUNDIAIGRAPH_TC]    Script Date: 06/12/2025 15:51:34 ******/
CREATE DATABASE [JUNDIAIGRAPH_TC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'JUNDIAIGRAPH_TC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\JUNDIAIGRAPH_TC.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'JUNDIAIGRAPH_TC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\JUNDIAIGRAPH_TC_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [JUNDIAIGRAPH_TC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [JUNDIAIGRAPH_TC]
GO
/****** Object:  User [calcgraph_db]    Script Date: 06/12/2025 15:51:34 ******/
CREATE USER [calcgraph_db] FOR LOGIN [calcgraph_db] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [calcgraph_db]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [calcgraph_db]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [calcgraph_db]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [calcgraph_db]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [calcgraph_db]
GO
ALTER ROLE [db_datareader] ADD MEMBER [calcgraph_db]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [calcgraph_db]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [calcgraph_db]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [calcgraph_db]
GO
/****** Object:  Table [dbo].[COORDINATE]    Script Date: 06/12/2025 15:51:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COORDINATE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AXIS_X] [int] NOT NULL,
	[AXIS_Y] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NEIGHBORHOOD]    Script Date: 06/12/2025 15:51:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NEIGHBORHOOD](
	[NAME] [nvarchar](50) NOT NULL,
	[COORDINATE_ID] [int] NOT NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[NEIGHBORHOODVIEW]    Script Date: 06/12/2025 15:51:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[NEIGHBORHOODVIEW] 
WITH SCHEMABINDING
AS
SELECT 
    N.NAME,
    C.AXIS_X,
    C.AXIS_Y
FROM 
    dbo.NEIGHBORHOOD N
INNER JOIN 
    dbo.COORDINATE C ON N.COORDINATE_ID = C.ID;
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF
GO
/****** Object:  Index [NEIGHBORHOODVIEW_NAME_IDX]    Script Date: 06/12/2025 15:51:35 ******/
CREATE UNIQUE CLUSTERED INDEX [NEIGHBORHOODVIEW_NAME_IDX] ON [dbo].[NEIGHBORHOODVIEW]
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NEIGHBORHOOD_PATH]    Script Date: 06/12/2025 15:51:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NEIGHBORHOOD_PATH](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FROM_ID] [nvarchar](50) NOT NULL,
	[TO_ID] [nvarchar](50) NOT NULL,
	[DISTANCE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[GETNEIGHBORHOOD_PATH]    Script Date: 06/12/2025 15:51:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[GETNEIGHBORHOOD_PATH](@VEHICLEMAXSPEED INT)
RETURNS TABLE
AS
RETURN
(
    SELECT
        FROM_ID,
        TO_ID,
        DISTANCE,
        TRAFFIC,
        MAX_SPEED,
		CEILING(
			(60.0 * DISTANCE / 
				IIF(MAX_SPEED < @VEHICLEMAXSPEED, MAX_SPEED, @VEHICLEMAXSPEED)
			) * (1 + TRAFFIC / 100.0)
		) AS WEIGHT
    FROM dbo.NEIGHBORHOOD_PATH
);
GO
/****** Object:  Index [COORDINATE_IDX]    Script Date: 06/12/2025 15:51:35 ******/
CREATE NONCLUSTERED INDEX [COORDINATE_IDX] ON [dbo].[COORDINATE]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [NEIGHBORHOOD_IDX]    Script Date: 06/12/2025 15:51:35 ******/
CREATE NONCLUSTERED INDEX [NEIGHBORHOOD_IDX] ON [dbo].[NEIGHBORHOOD]
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [NEIGHBORHOOD_PATH_FROM_TO_IDX]    Script Date: 06/12/2025 15:51:35 ******/
CREATE NONCLUSTERED INDEX [NEIGHBORHOOD_PATH_FROM_TO_IDX] ON [dbo].[NEIGHBORHOOD_PATH]
(
	[FROM_ID] ASC,
	[TO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [NEIGHBORHOOD_PATH_IDX]    Script Date: 06/12/2025 15:51:35 ******/
CREATE NONCLUSTERED INDEX [NEIGHBORHOOD_PATH_IDX] ON [dbo].[NEIGHBORHOOD_PATH]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NEIGHBORHOOD]  WITH CHECK ADD  CONSTRAINT [FK__NEIGHBORH__COORD__398D8EEE] FOREIGN KEY([COORDINATE_ID])
REFERENCES [dbo].[COORDINATE] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NEIGHBORHOOD] CHECK CONSTRAINT [FK__NEIGHBORH__COORD__398D8EEE]
GO
ALTER TABLE [dbo].[NEIGHBORHOOD_PATH]  WITH CHECK ADD FOREIGN KEY([FROM_ID])
REFERENCES [dbo].[NEIGHBORHOOD] ([NAME])
GO
ALTER TABLE [dbo].[NEIGHBORHOOD_PATH]  WITH CHECK ADD FOREIGN KEY([TO_ID])
REFERENCES [dbo].[NEIGHBORHOOD] ([NAME])
GO
/****** Object:  StoredProcedure [dbo].[GETNEIGHBORHOOD]    Script Date: 06/12/2025 15:51:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[GETNEIGHBORHOOD]
    @NAME NVARCHAR(50) = NULL
AS
BEGIN
    IF @NAME IS NULL
        SELECT * FROM NEIGHBORHOODVIEW WITH (INDEX(NEIGHBORHOODVIEW_NAME_IDX));
    ELSE
        SELECT TOP 1 * FROM NEIGHBORHOODVIEW WITH (INDEX(NEIGHBORHOODVIEW_NAME_IDX))
		WHERE 
			NAME = @NAME;
END;
GO
/****** Object:  StoredProcedure [dbo].[GETNEIGHBORHOODPATH]    Script Date: 06/12/2025 15:51:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[GETNEIGHBORHOODPATH]
    @FROM_ID NVARCHAR(50) = NULL,
	@TO_ID NVARCHAR(50) = NULL
AS
BEGIN
    IF @FROM_ID IS NULL OR @TO_ID IS NULL
        SELECT * FROM NEIGHBORHOOD_PATH WITH (INDEX(NEIGHBORHOOD_PATH_FROM_TO_IDX));
    ELSE
        SELECT TOP 1 * FROM NEIGHBORHOOD_PATH WITH (INDEX(NEIGHBORHOOD_PATH_FROM_TO_IDX))
		WHERE 
			FROM_ID = @FROM_ID
			AND TO_ID = @TO_ID;
END;
GO
/****** Object:  StoredProcedure [dbo].[GETTRANSPORT]    Script Date: 06/12/2025 15:51:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--CREATE OR ALTER PROCEDURE UPDATETRANSPORT
--    @ID INT,
--    @MODEL NVARCHAR(50),
--    @MAX_SPEED INT
--AS
--BEGIN
--    UPDATE TRANSPORT
--    SET MODEL = @MODEL, MAX_SPEED = @MAX_SPEED
--    WHERE ID = @ID;
--END;
--GO

--CREATE OR ALTER PROCEDURE DELETETRANSPORT
--    @ID INT
--AS
--BEGIN
--    DELETE FROM TRANSPORT WHERE ID = @ID;
--END;
--GO

--GET

CREATE   PROCEDURE [dbo].[GETTRANSPORT]
    @ID INT = NULL
AS
BEGIN
    IF @ID IS NULL
        SELECT * FROM TRANSPORT;
    ELSE
        SELECT TOP 1 * FROM TRANSPORT WHERE ID = @ID;
END;
GO
/****** Object:  StoredProcedure [dbo].[INSERTNEIGHBORHOOD]    Script Date: 06/12/2025 15:51:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--INSERT, UPDATE, DELETE

CREATE   PROCEDURE [dbo].[INSERTNEIGHBORHOOD]
    @NAME NVARCHAR(50),
    @AXIS_X INT,
    @AXIS_Y INT
AS
BEGIN
    DECLARE @COORDINATE_ID INT;

    INSERT INTO COORDINATE (AXIS_X, AXIS_Y)
    VALUES (@AXIS_X, @AXIS_Y);

    SET @COORDINATE_ID = SCOPE_IDENTITY();

    INSERT INTO NEIGHBORHOOD (NAME, COORDINATE_ID)
    VALUES (@NAME, @COORDINATE_ID);
END;
GO
/****** Object:  StoredProcedure [dbo].[INSERTNEIGHBORHOODPATH]    Script Date: 06/12/2025 15:51:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--CREATE OR ALTER PROCEDURE UPDATENEIGHBORHOOD
--    @ID INT,
--    @NAME NVARCHAR(50),
--    @AXIS_X INT,
--    @AXIS_Y INT
--AS
--BEGIN
--    DECLARE @COORDINATE_ID INT;

--    SELECT @COORDINATE_ID = COORDINATE_ID
--    FROM NEIGHBORHOOD
--    WHERE ID = @ID;

--    UPDATE COORDINATE
--    SET AXIS_X = @AXIS_X,
--        AXIS_Y = @AXIS_Y
--    WHERE ID = @COORDINATE_ID;

--    UPDATE NEIGHBORHOOD
--    SET NAME = @NAME
--    WHERE ID = @ID;
--END;
--GO

--CREATE OR ALTER PROCEDURE DELETENEIGHBORHOOD
--    @ID INT
--AS
--BEGIN
--    DELETE FROM NEIGHBORHOOD WHERE ID = @ID;
--END
--GO

--CREATE OR ALTER PROCEDURE GETNEIGHBORHOOD
--    @NAME NVARCHAR(50) = NULL
--AS
--BEGIN
--    IF @NAME IS NULL
--        SELECT * FROM NEIGHBORHOODVIEW;
--    ELSE
--        SELECT TOP 1 * FROM NEIGHBORHOODVIEW WHERE NAME = @NAME;
--END;
--GO

CREATE   PROCEDURE [dbo].[INSERTNEIGHBORHOODPATH]
    @FROM_ID NVARCHAR(50),
    @TO_ID NVARCHAR(50),
    @DISTANCE INT,
    @TRAFFIC INT,
    @MAX_SPEED INT
AS
BEGIN
    INSERT INTO NEIGHBORHOOD_PATH (FROM_ID, TO_ID, DISTANCE, TRAFFIC, MAX_SPEED)
    VALUES (@FROM_ID, @TO_ID, @DISTANCE, @TRAFFIC, @MAX_SPEED);
END;
GO
/****** Object:  StoredProcedure [dbo].[INSERTTRANSPORT]    Script Date: 06/12/2025 15:51:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--CREATE OR ALTER PROCEDURE UPDATENEIGHBORHOODPATH
--    @ID INT,
--    @FROM_ID INT,
--    @TO_ID INT,
--    @DISTANCE DECIMAL(10,2),
--    @TRAFFIC INT,
--    @MAX_SPEED INT
--AS
--BEGIN
--    UPDATE NEIGHBORHOOD_PATH
--    SET FROM_ID = @FROM_ID, TO_ID = @TO_ID,
--        DISTANCE = @DISTANCE, TRAFFIC = @TRAFFIC, MAX_SPEED = @MAX_SPEED
--    WHERE ID = @ID;
--END;
--GO

--CREATE OR ALTER PROCEDURE DELETENEIGHBORHOODPATH
--    @ID INT
--AS
--BEGIN
--    DELETE FROM NEIGHBORHOOD_PATH WHERE ID = @ID;
--END;
--GO

CREATE   PROCEDURE [dbo].[INSERTTRANSPORT]
    @MODEL NVARCHAR(50),
    @MAX_SPEED INT
AS
BEGIN
    INSERT INTO TRANSPORT (MODEL, MAX_SPEED)
    VALUES (@MODEL, @MAX_SPEED);
END;
GO
USE [master]
GO
