.main-page__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-page__select-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.clear-data__button {
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #252525;
    width: 20%;
    padding: 10px;
    color: #252525;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
}

.main-page__button {
    background-color: #252525;
    border-radius: 10px;
    border: none;
    width: 20%;
    padding: 10px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
}

.disabled-button {
    background-color: #979797;
    border-radius: 10px;
    border: none;
    width: 20%;
    padding: 10px;
    color: white;
    font-size: 16px;
    margin-bottom: 20px;
}

.about-us__container {
    margin-top: 30px;
}

.about-us__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-us__content-text {
    width: 50%;
}

.about-us__content-image img {
    border-radius: 10px;
}

.technologies-text {
    width: 40%;
}

.introduce-graphs {
    padding: 20px;
}

.algorithms {
    padding: 30px;
}

.example-algorithm {
    margin-left: 30px;
}